
* {
    padding: 0;
    margin: 0;
}

#__next {
    overflow: hidden;
}

.menu-horizontal .menu-inner>.menu-item>.menu-toggle::after {
    display: none;
}

.layout-menu-toggle {
    display: none;
}


@media (max-width >= 576px) {
    a.navbar-brand img {
        width: 190px !important;
    }
}

.block-23 ul li {
    margin-bottom: 5px !important;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.params-i-label {
    font-weight: bold;
}

.params-i {
    display: flex;
}


@import "mediaQuery";

@import "public/clients/css/style.css";
@import "public/clients/css/open-iconic-bootstrap.min.css";
@import "public/clients/css/magnific-popup.css";
@import "public/clients/css/ionicons.min.css";
@import "public/clients/css/bootstrap-datepicker.css";
@import "public/static/vendor/fonts/fontawesome.css";
@import "public/clients/css/flaticon.css";
@import "public/clients/css/icomoon.css";
@import "public/static/vendor/fonts/flag-icons.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;display=swap";

